<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    &copy; 2023 IndianEagle. All rights reserved
    &reg; I-Engage. Developed By <a style="color: orange;" th:href="@{/contributors}">GoldenEagles</a><br>
</footer>
</body>
</html>